includes:
  - rules.neon

parameters:
  level: 7
  excludes_analyse:
    - %currentWorkingDirectory%/vendor/
    - %currentWorkingDirectory%/tests/*/data/*
    - %currentWorkingDirectory%/tests/PreciousTest.php
