services:
  -
    class: Precious\PHPStan\Reflection\PreciousPropertiesClassReflectionExtension
    tags:
      - phpstan.broker.propertiesClassReflectionExtension

rules:
  - Precious\PHPStan\Rule\PreciousClassMustBeFinalRule
